.add-task {
	background-color: #FFF;
	border-radius: var(--app-border-radius) var(--app-border-radius) 0 0;
	padding: 20px;
}

.add-task .add-task-form {
	position: relative;
}

.add-task .add-task-input {
	background-color: #0A1126;
	border: none;
	width: 100%;
	padding: 20px 45px 20px 20px;
	border-radius: 20px;
	color: #DDDDE0;
	font-size: 18px;
}

.add-task .add-task-input,
.add-task .add-task-input:focus {
	outline: none;
}

.add-task .add-task-input::placeholder {
	color: #DDDDE0;
	font-weight: 900;
}

.add-task .add-task-btn {
	background: none;
	border: none;
	font-size: 30px;
	color: #fff;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	cursor: pointer;
}

.add-task .add-task-btn,
.add-task .add-task-btn:focus {
	outline: none;
}