.App {
  width: var(--app-width);
  height: var(--app-height);
  background-color: #fff;
  border-radius: var(--app-border-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App::before {
  content: '';
  width: calc(var(--app-width) + 30px);
  height: calc(var(--app-height) + 30px);
  border: 2px solid #E7ECF4;
  border-radius: var(--app-border-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}