* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --app-width: 300px;
  --app-height: 500px;
  --app-border-radius: 40px;
}

body {
  font-family: "acumin-pro", sans-serif;
  background-image: linear-gradient(340deg, #2352D3, #4375FF);
  height: 100vh;
}